@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

label,
span,
i {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 15pt;
}
body {
  background-color: #c4bfe7;
  margin: 0px;
  padding: 0px;
  background-image: radial-gradient(circle, white, #c4bfe7);
  display: flex;
  width: 100%;
  height: 100%;
}

.geral {
  margin: auto;
  display: flex;
}

.painel {
  /**background-color: #8883ab; **/
  background-color: #77729c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
  text-align: center;
}

.visor span {
  font-size: 40pt;
}

.minutos::after {
  content: ' :';
}
.relogio {
  margin-top: 30%;
}
.controlador {
  display: block;
}
.controlador span,
i {
  text-shadow: 2px 2px 4px #000000;
}

.iniciar-btn:hover,
.pausar-btn:hover {
  cursor: pointer;
}

#pause {
  position: relative;
  visibility: hidden;
  top: -20px;
}
